<footer class="mt-5">
        <div class="container">
            <div class="row content">
                <!-- Brand description -->
                <div class="col-lg-4 mb-4 ">
                  <a class="navbar-brand me-4" href="/home">
                    <svg fill="#007AFF" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M21.49,10.19l-1-.55h0l-9-5-.11,0a1.06,1.06,0,0,0-.19-.06l-.19,0-.18,0a1.17,1.17,0,0,0-.2.06l-.11,0-9,5a1,1,0,0,0,0,1.74L4,12.76V17.5a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V12.76l2-1.12V14.5a1,1,0,0,0,2,0V11.06A1,1,0,0,0,21.49,10.19ZM16,17.5a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V13.87l4.51,2.5.15.06.09,0a1,1,0,0,0,.25,0h0a1,1,0,0,0,.25,0l.09,0a.47.47,0,0,0,.15-.06L16,13.87Zm-5-3.14L4.06,10.5,11,6.64l6.94,3.86Z"></path></g></svg></i><span class="Alum-footer">Alum</span><span class="brand-connect">Connect</span>
                  </a>
                    <p>Connecting university alumni with new students worldwide for mentorship, guidance, and support.</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                
                <!-- Platform links -->
                <div class="col-md-4 col-lg-2 mb-4">
                    <h5>Platform</h5>
                    <ul>
                        <li><a href="#">Universities</a></li>
                        <li><a href="#">Alumni Network</a></li>
                        <li><a href="#">Student Community</a></li>
                        <li><a href="#">Mentorship</a></li>
                        <li><a href="#">Events</a></li>
                    </ul>
                </div>
                
                <!-- Support links -->
                <div class="col-md-4 col-lg-2 mb-4">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Resources</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                
                <!-- Company links -->
                <div class="col-md-4 col-lg-2 mb-4">
                    <h5>Company</h5>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="divider"><hr class="break"></div>
            
            <div class="row footer-bottom content">
                <div class="col-md-6">
                    <p>© 2025 AlumConnect. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <a href="#">Privacy</a>
                    <a href="#">Terms</a>
                    <a href="#">Cookies</a>
                </div>
            </div>
        </div>
    </footer>