<%layout("/layouts/boilerplate.ejs")%>
<div class="row offset-2">
  <form method="POST" action="/auth/forgot">
    <div class="col-8">
      <h1>Forgot Your Password ? No worries, We got your back!</h1>
      <input type="email" name="email" placeholder="Enter your registered email" class="form-control" required></input>
      <button type="submit" class="btn btn-outline-primary mt-3">Send Reset Link</button>
    </div>
  </form>
</div>