<% layout("/layouts/boilerplate.ejs")%>


<div class="row home ">
  <div class="col-lg-6 col-12-md offset-1">
    <h2 class="start-heading">Connect with <span class="gradient">Alumini</span> and <span class="gradient">Student</span> worldwide</h1>
    <h4>
      Build meaningful connections between university alumni and new students. Get mentorship, accommodation help, and insider knowledge about your university experience.
    </h4>
    <span class="eshiv">
      <a href="/login">
        <button class="btn btn-primary student"><i class="fa-regular fa-user" style="color: #ffffff;"></i> &nbsp;Join as Student</button>
      </a>
      
      <a href="/login">
        <button class="btn btn-outline-primary alumni"><i class="fa-solid fa-graduation-cap fa-flip-horizontal"></i> &nbsp;Register as Alumni</button>
      </a>
      <h1>...</h1>
    </span>
  </div>
  <div class="col-lg-4 col-12-md">
    


      <div class="container mt-5 mb-3 m-3">
        <div class="row ">
            <div class="col-md-5">
                <div class="card p-4 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <div class="card-logo"><svg fill="#007AFF" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M21.49,10.19l-1-.55h0l-9-5-.11,0a1.06,1.06,0,0,0-.19-.06l-.19,0-.18,0a1.17,1.17,0,0,0-.2.06l-.11,0-9,5a1,1,0,0,0,0,1.74L4,12.76V17.5a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V12.76l2-1.12V14.5a1,1,0,0,0,2,0V11.06A1,1,0,0,0,21.49,10.19ZM16,17.5a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V13.87l4.51,2.5.15.06.09,0a1,1,0,0,0,.25,0h0a1,1,0,0,0,.25,0l.09,0a.47.47,0,0,0,.15-.06L16,13.87Zm-5-3.14L4.06,10.5,11,6.64l6.94,3.86Z"></path></g></svg></div> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0 card-title ">John Davis</h4> <span><div class="card-subtitle">MIT Alumni, Class of 2018</div></span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="mt-2">
                      <div class="card-content">
                        "I've mentored 5 international students through AlumConnect. Helping them navigate campus life and career opportunities has been incredibly rewarding."
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-5">
                          <button class="btn btn-msg"><i class="fa-regular fa-envelope"></i> &nbsp;Message&nbsp;</button>
                        </div>
                        <div class="col-5">
                          <button class="btn btn-primary btn-pfp"><i class="fa-regular fa-id-badge"></i> &nbsp;View Profile&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
      </div>
      


  </div>
</div>
<hr>

<div class="connection-banner">
  <div class="initials-container">
      <span class="initial-pair">JD</span>
      <span class="initial-pair">RW</span>
      <span class="initial-pair">KL</span>
      <span class="initial-pair">AB</span>
  </div>
  <div class="count-text">
      <div class="count">1,000+</div>
      <div class="description">mentors & students already connected</div>
  </div>
</div>
<br><br><br>
<div class="row refer" style="background-color: #F9FBFA;">
  <br><br><br>
  <div class="col-8 offset-2 refer-col">
    <br>
    <span>
      <h4 class="refer-heading">
        <i class="fa-regular fa-user"></i> &nbsp;Refer Friends & Earn Rewards
      </h2>
      Share AlumConnect with friends and fellow students. You'll both benefit!
      <br>
      <span>
        <i class="fa-sharp-duotone fa-solid fa-champagne-glasses fa-shake" style="--fa-primary-color: #31e33c; --fa-primary-opacity: 0.9; --fa-secondary-color: #4bc8e7; --fa-secondary-opacity: 0.5;"></i>
        Free coffee credits for students &nbsp;
        <i class="fa-solid fa-medal"></i>Contribution points for alumni
        <br>
      </span>
      <br><br>
      
    </span>
  </div>
</div>

<hr>
<br><br><br>

<div class="phase-1">
  <h2>How AlumConnect Helps</h1>
    <p>Our platform connects university alumni with incoming students to create supportive communities and meaningful mentorships.
    </p>
  <div class="row offset-1">

    
    
    <div class="card col-lg-4 col-md-2 col-12 m-2" style="width:25rem;">
      <div class="card-title">
        <i class="fa-solid fa-graduation-cap fa-bounce"></i><br>
        Connect with Alumni
      </div>
      <p>
        Build relationships with graduates from your university who can provide invaluable career guidance and mentorship.
      </p>
    </div>

    <div class="card col-lg-4 col-md-2 col-12 m-2 "style="width:25rem;">
      <div class="card-title">
        <i class="fa-solid fa-globe fa-spin"></i><br>

        International Support
      </div>
      <p>
        Moving abroad? Connect with alumni who can help with accommodation, airport pickups, and local knowledge.
      </p>
    </div>

    <div class="card col-lg-4 col-md-2 col-12 m-2"style="width:25rem;">
      <div class="card-title">
        <i class="fa-solid fa-book fa-flip"></i><br>
        Course Insights
      </div>
      <p>
        Get honest feedback about courses from people who've completed them before you commit.
      </p>
    </div>

    <div class="card col-lg-4 col-md-2 col-12 m-2"style="width:25rem;">
      <div class="card-title">
        <i class="fa-solid fa-building" style="color: #ffa200;"></i><br>
        University Navigation

      </div>
      <p>
        Learn how to navigate university life, from campus resources to extracurricular opportunities
      </p>
      <br>
    </div>

    <div class="card col-lg-4 col-md-2 col-12 m-2"style="width:25rem;">
      <div class="card-title">
        <i class="fa-regular fa-map" style="color: #00ff2a;"></i><br>
        Accommodation Help

      </div>
      <p>
        Find housing recommendations and roommates from experienced students who know the area.
      </p>
    </div>
    

    <div class="card col-lg-4 col-md-2 col-12 m-2"style="width:25rem;">
      <div class="card-title">
        <i class="fa-regular fa-user" style="color: #00b3ff;"></i><br>
        Professional Network

      </div>
      <p>
        Start building your professional network before you even graduate with industry connections.
      </p>
    </div>
  </div>
</div>

<hr>

<div class="phase-2">
  <span>
    <h2>Top Universities</h2>
    Explore universities with active alumni communities
    <div class="row">
      <div class="col-4">

      </div>
    </div>
    

  </span>
  
  
</div>



