.jobs{
  font-family: "Inter, sans-serif"!important;
  font-weight: 600!important;
}

.jobs h5{
  font-weight: 700!important;
  font-size:18px;
}

.jobs span{
  display: flex;
  font-size:14px;
}

.jobs .btn{
  width:100%;
  background-color:#30D158;
}

.jobs svg path {
  stroke: rgb(255, 255, 255);
}

.jobs .description{
  font-weight: 400;
}